@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply font-manrope;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content-grid {
  /* spacing variables */
  --padding-inline: 1.2rem;
  --content-max-width: 95.5rem;
  --layout-max-width: 108rem;

  display: grid;
  grid-template-columns:
    [full-width-start]
    minmax(var(--padding-inline), 1fr)
    [content-start]
    min(100% - (var(--padding-inline) * 2), var(--content-max-width))
    /* choosing which is smaller */
    [content-end]
    minmax(var(--padding-inline), 1fr)
    [full-width-end];
}
.content-grid.all {
  grid-template-rows: 6rem 1fr 24.875rem;
}
.content-grid > :not(.full-width) {
  grid-column: content;
}
.content-grid > .full-width {
  grid-column: full-width;
}



/* UTILITY STYLES */

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}